<div class="col-sm-2 sidebar">
  <a href="/catalog/item/create" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Add new item</a>
  <a href="/catalog/brand/create" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Add new brand</a>
  <a href="/catalog/category/create" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Add new category</a>
</div>